@import '@/styles/variable';
.menu {
  .text {
    max-width: toRem(428);
    margin-bottom: toRem(113);

    @media(max-width: 768px) {
      margin-bottom: toRem(60);
    }
  }

  .btn {
    margin-bottom: toRem(387);
    @media(max-width: 768px) {
      margin-bottom: toRem(150);
    }
  }
}

.photos {
  position: relative;
  max-width: toRem(909);
  width: 100%;
  margin: 0 auto toRem(133);
  @media(max-width: 768px) {
    margin-bottom: toRem(60);
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.ticket {
  max-width: toRem(270);
  position: absolute;
  top: toRem(50);
  right: toRem(-135);
  rotate: -8deg;

  @media(max-width: 992px){
    max-width: toRem(200);
    right: toRem(-80);
    top: toRem(100);
  }
  @media(max-width: 568px){
    max-width: toRem(120);
    right: toRem(-20);
    top: toRem(100);
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
