@import '@/styles/variable';

.welcome {
  padding-top: 22dvh;
  margin-bottom: toRem(143);
  @media(max-width: 768px) {
    padding-top: 10dvh;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: block;
  max-width: toRem(285);
  width: 100%;
  margin-bottom: toRem(180);

  @media(max-width: 768px) {
    max-width: toRem(200);
    margin-bottom: toRem(90);
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.photo {
  max-width: toRem(790);
  width: 100%;
  margin: 0 auto;
  position: relative;
  left: toRem(100);

  @media(max-width: 768px) {
    left: 0;
    transform: translateX(10%);
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
