.text {
  margin-bottom: 143px;
}

.photos {
  display: flex;
  position: relative;
  max-width: 371px;
  width: 100%;
  margin: 0 auto 135px;
}

.photo {
  position: relative;
  rotate: -8deg;
  left: 24px;
  max-width: 254px;
  width: 100%;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.ticket {
  position: relative;
  rotate: 22deg;
  top: 60px;
  right: 15px;
  max-width: 142px;
  width: 100%;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.content {
  margin-bottom: 433px;

  @media(max-width: 768px){
    margin-bottom: 200px;
  }

  .text_1 {
    max-width: 360px;
  }
}
