@import '@/styles/variable';

.text {
  margin-bottom: toRem(143);
}

.photos {
  display: flex;
  position: relative;
  max-width: toRem(371);
  width: 100%;
  margin: 0 auto toRem(135);
}

.photo {
  position: relative;
  rotate: -8deg;
  left: toRem(24);
  max-width: toRem(254);
  width: 100%;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.ticket {
  position: relative;
  rotate: 22deg;
  top: toRem(60);
  right: toRem(15);
  max-width: toRem(142);
  width: 100%;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.content {
  margin-bottom: toRem(433);

  @media(max-width: 768px){
    margin-bottom: toRem(200);
  }

  .text_1 {
    max-width: toRem(360);
  }
}
