@import '@/styles/variable';
.interier {
  margin-bottom: toRem(260);
  @media(max-width: 768px) {
    margin-bottom: toRem(100);
  }

  .text {
    max-width: toRem(380);
    width: 100%;
    margin-bottom: toRem(145);
  }
}

.photo {
  position: relative;
  max-width: toRem(394);
  width: 100%;
  margin: 0 auto toRem(130);

  img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
  }
}

.decor {
  position: absolute;
  width: toRem(1110);
  bottom: toRem(-90);
  right: toRem(-203);
  z-index: -1;

  @media(max-width: 768px) {
    right: -80%;
    bottom: -50%;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    z-index: -1;
  }
}

.big-photo {
  max-width: toRem(1810);
  width: 100%;
  margin: 0 auto;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
