.header {
  text-align: center;
  color: var(--color-main);
  padding: 36px 15px 0;
  font-size: 14px;
  letter-spacing: 0.5px;

  @media(max-width: 768px) {
    padding: 20px 15px 0;
  }

  p {
    margin: 0 auto;
  }

  a{
    white-space: nowrap;
  }
}
