@import '@/styles/variable';

.header {
  text-align: center;
  color: var(--color-main);
  padding: toRem(36) toRem(15) 0;
  font-size: toRem(14);
  letter-spacing: 0.5px;

  @media(max-width: 768px) {
    padding: toRem(20) toRem(15) 0;
  }

  p {
    margin: 0 auto;
  }

  a{
    white-space: nowrap;
  }
}
