.btn {
  max-width: 872px;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--color-main);
  color:  var(--color-main);
  font-family: GentoDream, sans-serif;
  font-size: 71px;
  margin: 0 auto;
  height: 442px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 221px;
}
