@import '@/styles/variable';
.footer {
  padding: toRem(188) 0 toRem(207);

  @media(max-width: 768px) {
    padding: toRem(60) 0 toRem(120);
  }

  .text {
    color: var(--color-main);
    max-width: toRem(428);
    margin-bottom: toRem(45);
  }
}

.logo {
  max-width: toRem(205);
  width: 100%;
  margin: 0 auto toRem(90);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  gap: toRem(25);
  font-size: toRem(14);

  a {
    color: var(--color-main);
  }
}
